apiVersion: v1
kind: ConfigMap
metadata:
  name: snmp-exporter-config
  namespace: monitoring
  labels:
    app: snmp-exporter
data:
  snmp.yml: |
    auths:
      router_auth:
        version: 2
        community: dfktyrb1
    
    modules:
      router:
        walk:
          - 1.3.6.1.2.1.1
          - 1.3.6.1.2.1.2
        auth_name: router_auth
