apiVersion: v1
kind: Service
metadata:
  name: snmp-exporter
  namespace: monitoring
  labels:
    app: snmp-exporter
spec:
  type: ClusterIP
  ports:
  - port: 9116
    targetPort: 9116
    protocol: TCP
    name: http
  selector:
    app: snmp-exporter
