apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ocfs2-shared
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
parameters:
  type: ocfs2
  description: "OCFS2 shared storage for nodes (master-node, work-node)"

