apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: portainer

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - persistentvolumeclaim.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  managed-by: kustomize
  app: portainer
